node_modules
.next
.git
.gitignore
Dockerfile
docker-compose*.yml
.dockerignore
data/uploads
public/sw.js
public/sw.js.map
public/swe-worker*.js
public/tesseract
public/iconos
*.tsbuildinfo
npm-debug.log*
.env
.env.local
Documentos
README.md
